<%= render 'books/list' %>

 <div class="col-xs-9">

<h1>Bookshow</h1>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
  <th>Title</th>
  <th>Opinion</th>
  <th colspan="3"></th>
  </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <!--userの画像要-->
    <td><%= book.title %></td>
    <td><%= book.body %></td>
  </tbody>
 <% end %>
</table>

</div>

