<%= render 'books/list' %>

  <div class="col-xs-9">
		<h2>Booksindex</h2>
		<table class="table table-hover table-inverse">
		  <thead>
           <tr> 
            <th>"#"</th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
           </tr>
          </thead>
        
        
        <% @books.each do |book| %>
         <tbody>
          <td><%= book.title %></a></td>
          <td><%= book.body %></td>
          </tbody>
        <% end %>
        
		</div>